@media only screen and (min-width: 950px) {
  .hi {
    background-image: url(../img/background.svg);
    background-size: 105%;
    margin-left: -20px;
    margin-top: -20px;
    height: 100%;
    min-height: 1000px;
    background-repeat: no-repeat;
    padding-bottom: 5em;
    margin-top: -9em;
    padding-top: 10em;
    // margin-top: -6em;
  }
  .intro {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    padding-left: 4.5em;
  }
  .intro1 {
    max-width: 400px;
    margin: auto;
    margin-top: 11em;
  }
  .om {
    max-width: 800px;
    margin: auto;
    margin-top: -400px;
  }
  .omdiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .profileimg {
    float: right;
    margin-top: 2em;
  }
  .websites {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: auto;
  }
  .website {
    margin-bottom: 10em;
  }
  .webh2 {
    margin-top: -5px;
    font-size: 2em;
  }
  .tdimg {
    max-width: 450px;
  }
}
