//Skapad av Tilda Källström 2021
//Kod för header-sektion

//variabler
$header-color: #151e2d;
$base-color: rgb(245, 245, 245);

header {
  width: 100%;
}
//grids i header med två kolumner
.headergrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  position: relative;
  height: 70px;
  width: 600px;
}
.headergrids2 {
  float: right;
  right: 0;
}
//styling för meny
.meny {
  /* lägger menyn på en rad, ist för som en lista */
  color: $base-color;
  display: inline-block;
  top: 0;
  z-index: 1000000000;
}
.menyhere {
  text-decoration: underline;
  color: $base-color;
  display: inline-block;
  top: 0;
  z-index: 1000000000;
  text-decoration-style: double;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $base-color;
  transform: none;
  z-index: 1000000000;
  margin-top: 0.8em;
}
.meny a {
  z-index: 1000000000;
  margin: auto;
  padding: 10px;
  transform: none;
  color: $base-color;
  text-decoration: none;
  font-size: 1.2em;
  font-family: "Quicksand", sans-serif;
}
.meny a:hover {
  transition: 0.8s;
  text-decoration: underline;
}
.ham:hover {
  cursor: pointer;
}
//mobil-styling
@media only screen and (max-width: 600px) {
  .container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 40%;
    //vertical-align: right;
    overflow: hidden;
    margin-top: -5em;
  }
  header {
    height: 100%;
    min-height: 400px;
    top: 0;
  }
  .headergrid {
    width: 100%;
  }
  .logo {
    max-width: 130px;
    background-color: rgba(253, 216, 251, 0.2);
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }
  //meny
  .ham {
    float: right;
    margin-right: 5px;
  }
  .navbar {
    top: 0;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.95);
    width: 98%;
    height: 500px;
    overflow: hidden;
    color: $base-color;
    transform: translateY(-120%);
    transition: transform 0.4s ease;
  }
  .showNav {
    transform: translateY(0);
  }
  .navbar ul {
    height: 90%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
  }
  .navbar ul li a {
    color: black;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-size: 1.4rem;
  }
  .navbar ul li a:hover,
  .navbar ul li a:focus {
    color: #151e2d;
    text-decoration: underline;
  }
  .lineone,
  .linetwo,
  .linethree {
    width: 38px;
    height: 5px;
    border-radius: 25px;
    background-color: $base-color;
    margin: 7px;
    transition: 0.5s;
    z-index: 99999999;
    box-shadow: 1px 1px 1px 1px rgb(46, 45, 45);
  }
  .change .lineone {
    margin-right: 1em;
    transform: rotate(-45deg) translate(-1px, 20px);
  }
  .change .linetwo {
    opacity: 0;
  }
  .change .linethree {
    transform: rotate(45deg) translate(5px, -19px);
  }
}
//ipad
@media only screen and (min-width: 600px) and (max-width: 950px) {
  .meny:nth-child(1) {
    border-right: solid 2px;
    color: $base-color;
  }
  .meny:nth-child(2) {
    border-right: solid 2px;
    color: $base-color;
  }
  .meny {
    /* lägger menyn på en rad, ist för som en lista */
    display: inline-block;
    top: 0;
    z-index: 1000000000;
    margin-top: 1em;
  }
  .meny a {
    z-index: 1000000000;
    margin: auto;
    padding: 10px;
    transform: none;
    color: $base-color;
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Quicksand", sans-serif;
  }
  .headergrids2 {
    float: right;
    right: 0;
  }
  .headergrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: none;
    width: 100%;
  }
  .navbar {
    float: right;
    right: 0;
    margin-right: 3em;
    margin-top: -0.5em;
  }
  .navbar ul li a {
    color: $base-color;
  }
  .container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 40%;
    //vertical-align: right;
    overflow: hidden;
    margin-top: -5em;
  }
  .logo {
    width: 150px;
    margin-top: 10px;
  }
}
//desktop
@media only screen and (min-width: 950px) {
  .container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 40%;
    vertical-align: middle;
    overflow: hidden;
    margin-top: -5em;
  }
  .meny:nth-child(1) {
    border-right: solid 2px;
    color: $base-color;
  }
  .meny:nth-child(2) {
    border-right: solid 2px;
    color: $base-color;
  }
  .headergrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .meny {
    /* lägger menyn på en rad, ist för som en lista */
    display: inline-block;
    top: 0;
    z-index: 1000000000;
    margin-top: 1em;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: none;
    z-index: 1000000000;
  }
  .meny a {
    z-index: 1000000000;
    margin: auto;
    padding: 10px;
    transform: none;
    color: $base-color;
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Quicksand", sans-serif;
  }
  .headergrids2 {
    float: right;
    right: 0;
  }
  .headergrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: none;
    width: 100%;
  }
  .meny a {
    margin: auto;
    padding: 10px;
    transform: none;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Quicksand", sans-serif;
  }
  .navbar {
    float: right;
    right: 0;
    margin-right: 3em;
  }
  .navbar ul li a {
    color: $base-color;
  }
  .logo {
    width: 230px;
    padding-left: 6em;
    margin-top: 10px;
  }
}
