@media only screen and (max-width: 950px) {
  .hi {
    background-image: url(../img/background.svg);
    background-size: 105%;
    margin-left: -5px;
    height: 100%;
    min-height: 300px;
    background-repeat: no-repeat;
    padding-bottom: 5em;
    margin-top: -25.5em;
    padding-top: 10em;
    // margin-top: -6em;
  }
  h1 {
    margin-top: -3.5em;
    font-size: 2em;
    text-shadow: 1px 1px 1px #8b8b8b;
  }
  .btnreg {
    margin: auto 5px;
  }
  .bigh2 {
    margin: 10px;
    font-size: 1.8em;
  }
  p {
    margin: 10px;
  }
  .intro1 {
    max-width: 400px;
    margin: auto;
    margin-top: 4em;
  }
  .om {
    max-width: 800px;
    margin: auto;
    margin-top: -200px;
  }
  .profileimg {
    max-width: 150px;
    margin-left: 30%;
  }
  .intro {
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
  }
  .websites {
    max-width: 500px;
    margin: auto;
  }
  .container {
    margin-bottom: -3em;
  }
  .webh2 {
    margin-top: -5px;
    font-size: 2em;
  }
  .tdimg {
    max-width: 400px;
    margin-top: 0.5em;
  }
  .webbtn {
    margin-top: -0.2em;
    margin-bottom: 1em;
  }
  .portfolio {
    margin-bottom: 4em;
  }
  .table-wrapper {
  width: 100%;
   
}
}
